<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-fit-behavior/iron-fit-behavior.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../paper-progress/paper-progress.html">

<dom-module id="cotton-curtain">
    <template>

        <div class="layout vertical box">
            <paper-card animated-shadow>
                <div class="card-content">
                    <content></content>
                    <paper-progress id="loading" language="es" indeterminate></paper-progress>
                </div>
            </paper-card>
        </div>

    </template>

    <style>

        :host {
            @apply(--layout);
            text-align: center;
            align-items:center;
            -webkit-align-items: center;
            justify-content:center;
            -webkit-justify-content:center;
            background: none;
        }

        :host paper-progress {
            width: 100%;
        }

        .box {
            width: 100%;
            height: 100%;
            background: none;
        }

        .box ::content {
            margin-top: 15px;
        }

        .box ::content paper-card {
            background: none;
        }

    </style>

    <script>

        const CottonCurtainDictionary = {
            es : {
                Loading : "cargando..."
            },
            en : {
                Loading : "loading..."
            }
        };

        Polymer({
            is: 'cotton-curtain',

            behaviors: [
                Polymer.IronFitBehavior
            ],

            properties: {
                language: {
                    type: String,
                    value: "es"
                }
            },

            ready : function() {
                this.$.loading.title = CottonCurtainDictionary[this.language].Loading;
            }

        });

    </script>
</dom-module>
